html{
	font-size: 10px;
}
html,body{
	margin: 0px;
	padding: 0px;
}
.box{
	width: 38rem;
	height: 38rem;
	/*background: rgb(205,205,205);*/
	/*border-radius: 1rem;*/
	/*margin: %5 auto;*/
	display: flex;
	justify-content: center;
	align-items: center;
}

.clock{
	width: 20rem;
	height: 20rem;
	background: #fff url(../img/clock.png) no-repeat center;
	background-size: 100%;
	border-radius: 50%;
	position: relative;
}

.clock:after{
	content: '';
	width: 1.5rem;
	height: 1.5rem;
	background: #000;
	border-radius: 50%;
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	z-index: 10;
}

.hours-container,.minutes-container,.seconds-container{
	position: absolute;
	top: 0;
	right: 0;
	bottom:0;
	left:0;
}

.hours{
	width: 3%;
	height: 20%;
	background: #000;
	transform-origin: 50% 100%;
	position: absolute;
	top:30%;
	left:48.5%;
}

.minutes{
	width: 2%;
	height: 37%;
	background: #000;
	transform-origin: 50% 100%;
	position: absolute;
	top:13%;
	left:49%;
}

.seconds{
	width: 1%;
	height: 40%;
	background: #f00;
	transform-origin: 50% 90%;
	position: absolute;
	top:20%;
	left: 49.5%;
	z-index: 8;
}

@-webkit-keyframes rotate{
	100%{transform: rotateZ(360deg);}
}

.hours-container{
	animation: rotate 43200s infinite linear;
}

.minutes-container{
	animation: rotate 3600s infinite steps(60);
}

.seconds-container{
	animation: rotate 60s infinite steps(60);
}


